{% extends 'index.html' %}
{% load static %}

{% block body %}

    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 col-lg-5">
                    <div class="wrap">
                        <div class="img" style="background-image: url({% static 'assets/img/bg-1.jpg' %});"></div>
                        <div class="login-wrap p-4 p-md-5">
                            <div class="d-flex">
                                <div class="w-100">
                                    <h3 class="mb-4">Sign Up</h3>
                                </div>
                                {#                                <div class="w-100">#}
                                {#                                    <p class="social-media d-flex justify-content-end">#}
                                {#                                        <a href="#"#}
                                {#                                           class="social-icon d-flex align-items-center justify-content-center"><span#}
                                {#                                                class="fa fa-facebook"></span></a>#}
                                {#                                        <a href="#"#}
                                {#                                           class="social-icon d-flex align-items-center justify-content-center"><span#}
                                {#                                                class="fa fa-twitter"></span></a>#}
                                {#                                    </p>#}
                                {#                                </div>#}
                            </div>
                            <form method="POST" id="signup_form" class="signin-form">
                                <div class="form-group mt-3">
                                    <input id="username_id" type="text" class="form-control" placeholder="Username"
                                           required>
                                </div>
                                <div class="form-group mt-3">
                                    <input id="first_name_id" type="text" class="form-control" placeholder="First Name"
                                           required>
                                </div>
                                <div class="form-group mt-3">
                                    <input id="last_name_id" type="text" class="form-control" placeholder="Last Name"
                                           required>
                                </div>
                                <div class="form-group mt-3">
                                    <input id="mobile_no_id" type="tel" class="form-control" placeholder="Mobile No"
                                           required>
                                </div>
                                <div class="form-group mt-3">
                                    <input id="email_id" type="email" class="form-control" placeholder="Email" required>
                                </div>
                                <div class="form-group">
                                    <input id="password_id" placeholder="Password" type="password"
                                           class="form-control" required>
                                    <span toggle="#password_id"
                                          class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign
                                        Up
                                    </button>
                                </div>
                            </form>
                            <p class="text-center">Already Account? <a href="{% url 'login' %}">LogIn</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>

    <script>
        $("#signup_form").on("submit", function (e) {
            e.preventDefault();
            let signupData = {
                "first_name": $("#first_name_id").val(),
                "last_name": $("#last_name_id").val(),
                "phone": $("#mobile_no_id").val(),
                "email": $("#email_id").val(),
                "username": $("#username_id").val(),
                "password": $("#password_id").val(),
            };
            $.ajax({
                type: "POST",
                url: `/user/signup/`,
                data: signupData,
                success: function (data) {
                    Swal.fire({
                        title: "User successfully Registered.",
                        icon: 'success',
                        confirmButtonColor: '#3085d6',
                    }).then((result) => {
                        window.location = `/user/login`;
                    })
                },
                error: function (err) {
                    Swal.fire(err["responseJSON"]["error"])
                }
            })
        });
    </script>

{% endblock body %}
