{% extends 'index.html' %}
{% load static %}

{% block body %}
<link rel="stylesheet" href="{% static 'assets/css/cart.css' %}">
<div class="card">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col"><h4><b>Shopping Cart</b></h4></div>
                    <div class="col align-self-center text-right text-muted">{{total_items.item}} items</div>
                </div>
            </div>
            <div class="row border-top border-bottom">
                {% for cart in items %}
                <div class="row main align-items-center">
                    <div class="col-2"><img class="img-fluid" src="{{cart.product.image}}"></div>
                    <div class="col">
                        <div class="row text-muted">{{cart.product.category}}</div>
                        <div class="row">{{cart.product.name}}</div>
                    </div>
                    <div class="col">
                        <a href="#">-</a><a href="#" class="border">{{cart.count}}</a><a href="#">+</a>
                    </div>
                    <div class="col">₹{{cart.total}} <span class="close">&#10005;</span></div>
                </div>
                {% endfor %}
            </div>
            <div class="back-to-shop"><a href="#">&leftarrow;</a><span class="text-muted">Back to shop</span></div>
        </div>
        <div class="col-md-4 summary">
            <div><h5><b>Summary</b></h5></div>
            <hr>
            <div class="row">
                <div class="col" style="padding-left:0;">{{total_items.item}} Items</div>
                <div class="col text-right">&euro; 132.00</div>
            </div>
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col">TOTAL PRICE</div>
                <div class="col text-right">₹{{total.total_price}}</div>
            </div>
            <button class="btn">CHECKOUT</button>
        </div>
    </div>

</div>
{% endblock body %}
